In [ ]:
# Import all the necessary Libraries

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.metrics import accuracy_score
import pandas as pd

In [ ]:
# Loading iris dataset
iris = load_iris()
# Print the keys of iris dataset
print(dir(iris))

In [ ]:
print(f"The features of iris flower: {iris.feature_names}")
print(f"The 3 types of iris flower: {iris.target_names}")

In [ ]:
# Assign the data to X , Assign the target (which type of flower is the given row of data is) to y
X = iris.data
y = iris.target

In [ ]:
print(pd.DataFrame(X))
print(pd.DataFrame(y))

In [ ]:
# Assigns training data & testing data of X & y
# train_size=0.7 :- 70% of data is used to train the model & the remaining data is used to test
X_train, X_test, y_train, y_test = train_test_split( X, y, train_size=0.7, random_state=1)

In [ ]:
# 3 Nearest neighbors will be taken
clf = KNeighborsClassifier(n_neighbors = 3)

# Training the dataset
clf.fit(X_train,y_train)

# Predict the target of testing data of X
y_pred = clf.predict(X_test)

# Comparing the predicted target of trained data of X with Actual Target
print(f"Accuracy: {accuracy_score(y_test,y_pred)*100} %")

In [ ]:
# predict with a sample data
pr = clf.predict([[1.2,2.3,2.0,2.1]])
print(pr)
print(iris.target_names[pr])

In [2]:
# Import Custom Dataset
marks=pd.read_csv("marks.csv")
marks

    English  Maths  Science       Result
0        90     85       92  Outstanding
1        78     92       88         Good
2        65     70       75      Average
3        88     95       89  Outstanding
4        75     80       82         Good
5        92     88       94  Outstanding
6        70     65       68      Average
7        85     78       80         Good
8        60     72       67      Average
9        93     90       91  Outstanding
10       82     86       88         Good
11       77     75       79      Average
12       89     94       90  Outstanding
13       73     68       72      Average
14       84     79       83         Good
15       95     91       96  Outstanding
16       69     74       77      Average
17       79     83       85         Good
18       87     89       86  Outstanding
19       71     76       74      Average

In [3]:
print(marks.head())
print(marks.columns)

   English  Maths  Science       Result
0       90     85       92  Outstanding
1       78     92       88         Good
2       65     70       75      Average
3       88     95       89  Outstanding
4       75     80       82         Good
Index(['English', 'Maths', 'Science', 'Result'], dtype='object')

In [36]:
# Select the 1st 3 Columns of marks
x_values = marks.iloc[:,[0,1,2]]
y = marks.iloc[:,[3]]
# Converting the 'y' values to a 1D array using 'reshape'
# The -1 that Pandas should automatically infer the size along that dimension, making it a flat 1D array.
y_values = y.values.reshape(-1,)

In [37]:
clf = KNeighborsClassifier(n_neighbors=3)

In [38]:
clf.fit(x_values,y_values)

KNeighborsClassifier(n_neighbors=3)

In [41]:
sample=[[70,70,70]]
print(f'The result for the given sample data is : {clf.predict(sample)}')

The result for the given sample data is : ['Average']