In [4]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [5]:
# Na誰ve Bayes Classifier on iris dataset
iris = load_iris()
print(dir(iris))

['DESCR', 'data', 'feature_names', 'filename', 'frame', 'target', 'target_names']

In [14]:
X = iris.data
y = iris.target

print(pd.DataFrame(X))

X_train, X_test, y_train, y_test = train_test_split( X, y, train_size = 0.7, random_state = 1)

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [7]:
# Create Na誰ve Bayes classifier object
clf = GaussianNB()

In [8]:
# Train Na誰ve Bayes Classifier
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [9]:
print(f"Accuracy: {accuracy_score(y_pred,y_test)*100} %")

Accuracy: 93.33333333333333 %

In [16]:
sample = [[3.2, 4.1, 2.8, 3.6]]
pred = clf.predict(sample)
print(iris.target_names[pred])

['virginica']

In [17]:
# Na誰ve Bayes Classifier on custom dataset
data = pd.read_csv("marks.csv")
data

    English  Maths  Science       Result
0        90     85       92  Outstanding
1        78     92       88         Good
2        65     70       75      Average
3        88     95       89  Outstanding
4        75     80       82         Good
5        92     88       94  Outstanding
6        70     65       68      Average
7        85     78       80         Good
8        60     72       67      Average
9        93     90       91  Outstanding
10       82     86       88         Good
11       77     75       79      Average
12       89     94       90  Outstanding
13       73     68       72      Average
14       84     79       83         Good
15       95     91       96  Outstanding
16       69     74       77      Average
17       79     83       85         Good
18       87     89       86  Outstanding
19       71     76       74      Average

In [25]:
# Select the 1st 3 Columns of marks
X = data.iloc[:,[0,1,2]]
y = data.iloc[:,[3]]
# Converting the 'y' values to a 1D array using 'reshape'
# The -1 that Pandas should automatically infer the size along that dimension, making it a flat 1D array.
Y = y.values.reshape(-1)

In [26]:
clasf = GaussianNB()
clasf.fit(X,Y)

GaussianNB()

In [28]:
prd = clasf.predict([[75,83,90]])
print(prd)

['Good']